[submodule "client"]
	path = client
	url = https://github.com/cristiantoptive/saksoff5th_client.git
	branch = main
[submodule "api"]
	path = api
	url = https://github.com/cristiantoptive/saksoff5th_api.git
	branch = main
