[submodule "client"]
	path = client
	url = git@github.com:cristiantoptive/saksoff5th_client.git
	branch = main
[submodule "api"]
	path = api
	url = git@github.com:cristiantoptive/saksoff5th_api.git
	branch = main
